@model RoleTopMVC.ViewModels.BaseViewModel

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RoleTop</title>
    <link href="~/img/logo.png" rel="icon" type="image/x-icon">
    <link href="~/css/style.css" rel="stylesheet" type="text/css">
    <!-- bota o css aki -->
    @if("Servicos".Equals(@Model.NomeView))
    { 
        <link href="~/css/servicos.css" rel="stylesheet" type="text/css">
    }
    @if("Casamento".Equals(@Model.NomeView))
    { 
        <link href="~/css/servicos-casamento.css" rel="stylesheet" type="text/css">
    }
    @if("SobreNos".Equals(@Model.NomeView))
    { 
        <link href="~/css/sobrenos.css" rel="stylesheet" type="text/css">
    }
    @if("Eventos".Equals(@Model.NomeView))
    { 
        <link href="~/css/eventos.css" rel="stylesheet" type="text/css">
    }
    @if("Contato".Equals(@Model.NomeView))
    { 
        <link href="~/css/contato.css" rel="stylesheet" type="text/css">
    }
    @if("Login".Equals(@Model.NomeView))
    {
        <link href="~/css/login.css" rel="stylesheet" type="text/css">
    }
    @if("RecuperarSenha".Equals(@Model.NomeView))
    {
        <link href="~/css/login.css" rel="stylesheet" type="text/css">
    }
    @if("MudarSenha".Equals(@Model.NomeView))
    {
        <link href="~/css/login.css" rel="stylesheet" type="text/css">
    }
    @if("MudarSenhaIndex".Equals(@Model.NomeView))
    {
        <link href="~/css/login.css" rel="stylesheet" type="text/css">
    }
    @if("Cadastro".Equals(@Model.NomeView))
    {
        <link href="~/css/cadastro.css" rel="stylesheet" type="text/css">
    }
    @if("Dashboard".Equals(@Model.NomeView))
    {
      <link href="~/css/dashboard.css" rel="stylesheet" type="text/css">
    }
    @if("Configuracoes".Equals(@Model.NomeView))
    {
      <link href="~/css/dashboard.css" rel="stylesheet" type="text/css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    }
    @if("MeusEventos".Equals(@Model.NomeView))
    {
      <!-- <link href="~/css/dashboard.css" rel="stylesheet" type="text/css">
      <link href="~/css/restdashboard.css" rel="stylesheet" type="text/css"> -->
      <link href="~/css/eventos-adm.css" rel="stylesheet" type="text/css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    }
    @if("SolicitarEventos".Equals(@Model.NomeView))
    {
      <link href="~/css/restdashboard.css" rel="stylesheet" type="text/css">
    }
    @if("EventosAdm".Equals(@Model.NomeView))
    {
      <link href="~/css/eventos-adm.css" rel="stylesheet" type="text/css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    }

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/349a64cb04.js"></script> <!-- /* icone login */ -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>   
</head>

<body>
    <header>
        <nav>
            <div class="topnav" id="myTopnav">
                <a asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" alt="logo da firma" style="width: 4em"></a>
                <div id="topnav-left">
                    <a id="gambiarra"></a>
                    <a asp-controller="Home" asp-action="Index" id="test">Home</a>
                    <a asp-controller="SobreNos" asp-action="Index">Sobre Nós</a>
                    <a asp-controller="Servicos" asp-action="Index">Serviços</a>
                    <a asp-controller="Eventos" asp-action="Index">Eventos</a>
                    <!-- <a asp-controller="Faq" asp-action="Index">Faq</a> -->
                    <a asp-controller="Contato" asp-action="Index">Contato</a>
                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                        <i class="fa fa-bars fa-2x"></i>
                    </a>
                </div>
                <div class="topnav-right">
                  @if(string.IsNullOrEmpty(@Model.UsuarioEmail))
                  {
                    <a asp-controller="Login" asp-action="Index"><i class="fas fa-user fa-2x"></i></a>
                  }
                  else
                  {
                    @if(@Model.UsuarioEmail == "admin@admin.com")
                    {
                      <a class="perfil" asp-controller="Administrador" asp-action="Dashboard"><em>Olá @Model.PrimeiroNome()</em></a>
                      <a class="perfil2" asp-controller="Administrador" asp-action="Dashboard"><em>Olá @Model.PrimeiroNome()</em></a>
                      <a asp-controller="Login" asp-action="Logoff">Sair</a>
                    }
                    else
                    {
                      <a class="perfil" asp-controller="Login" asp-action="Dashboard"><em>Olá @Model.PrimeiroNome()</em></a>
                      <a class="perfil2" asp-controller="Login" asp-action="Dashboard"><em>Olá @Model.PrimeiroNome()</em></a>
                      <a asp-controller="Login" asp-action="Logoff">Sair</a>
                    }
                  }
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()

    <footer>
        <div id="footer-section-container">

            <div id="social-media">
                <a href="https://www.facebook.com/Rol%C3%AATop-106506047400870/" target="_blank"><img src="~/img/facebook.png" alt="icone facebook" title="facebook"></a>
                <a href="https://api.whatsapp.com/send?1=pr_BR&phone=5511960657694" target="_blank"><img src="~/img/whatsapp.png" alt="icone whatsapp" title="whatsapp"></a>
                <a href="https://www.youtube.com/" target="_blank"><img src="~/img/youtube.png" alt="icone youtube" title="youtube"></a>
                <a href="https://www.instagram.com/?hl=pt-br" target="_blank"><img src="~/img/instagram.png" alt="icone instagram" title="instagram"></a>
            </div>

            <div id="footer-copyright">
                <a asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" alt="logo da firma" title="RoleTop" style="width: 4em"></a>
                <p>Copyright 2019 RoleTop</p>
            </div>

            <div id="footer-text-media">
                <h4>RoleTop | Festas e Eventos Sociais</h4>
            </div>
        </div>
    </footer>
</body>

<!-- script navbar -->
<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }   
</script>

<!-- script slideshow -->
<script>
    var slideIndex = 1;
    showSlides();

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  slides[slideIndex-1].style.display = "block";
  setTimeout(showSlides, 3250); // Change image every 2 seconds
}
</script>

@if("Casamento".Equals(@Model.NomeView))
    { 
        <!-- script galeria -->
<script>
  function openModal() {
    document.getElementById("myModal").style.display = "block";
  }

  function closeModal() {
    document.getElementById("myModal").style.display = "none";
  }

  var slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    var captionText = document.getElementById("caption");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    captionText.innerHTML = dots[slideIndex-1].alt;
  }
</script>

    }

<!-- script do faq -->
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    /* Toggle between adding and removing the "active" class,
    to highlight the button that controls the panel */
    this.classList.toggle("active");

    /* Toggle between hiding and showing the active panel */
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>

<!-- script serviços -->
<script>
    function passo() {
  document.getElementById("demo").style.color = "rgb(255, 190, 0)";
}

function saiu() {
  document.getElementById("demo").style.color = "rgb(255,255,255)";
}

    function passo2() {
  document.getElementById("demo2").style.color = "rgb(255, 190, 0)";
}

function saiu2() {
  document.getElementById("demo2").style.color = "rgb(255,255,255)";
}

    function passo3() {
  document.getElementById("demo3").style.color = "rgb(255, 190, 0)";
}

function saiu3() {
  document.getElementById("demo3").style.color = "rgb(255,255,255)";
}

   function passo4() {
  document.getElementById("demo4").style.color = "rgb(255, 190, 0)";
}

function saiu4() {
  document.getElementById("demo4").style.color = "rgb(255,255,255)";
}
</script>

<!-- UPAR FOTO -->

<script>
   function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
</script>

<!-- script do dashboard -->
<script>
    $('#tab1show').hide();
    $('#tab3show').hide();

$('.ta').click(function () {
    $('.tab').hide();
    console.log("#"+$(this).attr("id")+"show");
    $("#"+$(this).attr("id")+"show").show();
});
</script>
</html>