@model RoleTopMVC.ViewModels.EventoViewModel

<main>
    <div id="dashboard">
        <div id="opcaoUser">
            <a asp-controller="Administrador" asp-action="Eventos">Eventos</a>
            <a asp-controller="" asp-action="">BlackList</a>
            <a asp-controller="" asp-action="">Configurações</a>
            <a asp-controller="Login" asp-action="Logoff">Sair</a>
        </div>
        <div id="content">
            <section id="titulo">
                <h2>Eventos</h2>
            </section>
            
            <div id="container-dashboard">
                <div id="osbutao">
                    <div id="tab1" class="ta"><button class="butoes" id="aprovado" style="font-weight: bolder">Aprovados</button></div>
                    <div id="tab2" class="ta"><button class="butoes" id="pendente" style="font-weight: bolder">Pendentes</button></div>
                    <div id="tab3" class="ta"><button class="butoes" id="recusado" style="font-weight: bolder">Recusados</button></div>
                </div>

                <div id="testando">
                    <div id="amostra">
                        <!-- APROVADOS -->
                        <div id="tab1show" class="tab">
                            <table id="aprovado">
                                <thead>
                                    <tr>
                                        <th rowspan="2">Nome</th>
                                        <th rowspan="2">Dia</th>
                                        <th rowspan="2">Tipo Evento</th>
                                        <th rowspan="2">Informações</th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <td colspan="6">
                                            <p>Eventos atualizados em @DateTime.Now</p>
                                        </td>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var evento in Model.EventosAprovado)
                                        {
                                        <tr>
                                            <td>@evento.NomeEvento</td>
                                            <td>@evento.DiaEvento.ToShortDateString()</td>
                                            <td>@evento.TipoEvento</td>
                                            <!-- <td><a style="cursor:pointer"><em>Clique aqui</em></a></td> -->
                                            <td><a href="#@evento.Id" rel="modal:open" style="text-decoration:none;color:white"><em>Clique Aqui</em></a></td>
                                        </tr>
                                        }
                                </tbody>
                            </table>
                            
                            @foreach (var evento in Model.EventosAprovado)
                            {
                                <!-- Modal HTML embedded directly into document -->
                                <div id="@evento.Id" class="modal">
                                    <p>Nome Evento: @evento.NomeEvento</p>
                                    <p style="color:rgb(0,255,7">Status Evento: @Model.StatusEnum[@evento.Status]</p>
                                    <p>Dia Evento: @evento.DiaEvento.ToShortDateString()</p>
                                    <p>Tipo Evento: @evento.TipoEvento</p>
                                    <p>Pacotes Selecionado: @evento.PacoteEvento</p>
                                    <p>Quantidade Convidados: @evento.NumeroPessoas</p>
                                    <p>Cliente_Nome: @evento.Cliente.Nome</p>
                                    <p>Email_Cliente: @evento.Cliente.Email</p>
                                    <p>Cliente_CPF: @evento.Cliente.Cpf</p>
                                    <p>Cliente_Telefone: @evento.Cliente.Celular</p>
                                    <a href="#" rel="modal:close" style="float:right"></a>
                                </div>
                            }
                        </div>
                    </div>

                        <!-- PENDENTES -->
                        <div id="tab2show" class="tab">
                            <table id="pendente">
                                <thead>
                                    <tr>
                                        <th rowspan="2">Nome</th>
                                        <th rowspan="2">Dia</th>
                                        <th rowspan="2">Tipo Evento</th>
                                        <th rowspan="2">Convidados</th>
                                        <th rowspan="2">Informações</th>
                                        <th colspan="2" rowspan="2">Aprovar</th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <td colspan="6">
                                            <p>Eventos atualizados em @DateTime.Now</p>
                                        </td>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var evento in Model.Eventos)
                                        {
                                        <tr>
                                            <td>@evento.NomeEvento</td>
                                            <td>@evento.DiaEvento.ToShortDateString()</td>
                                            <td>@evento.TipoEvento</td>
                                            <td>@evento.NumeroPessoas</td>
                                            <td><a href="#@evento.Id" rel="modal:open" style="text-decoration:none;color:white"><em>Clique Aqui</em></a></td>
                                            <td><a href='@Url.Action("Aprovar", "Administrador", new {id = @evento.Id})'><i class="fas fa-check"></i></a></td>
                                            <td><a href='@Url.Action("Recusar", "Administrador", new {id = @evento.Id})'><i class="fas fa-times"></i></a></td>
                                        </tr>
                                        }
                                </tbody>
                            </table>
                            
                            @foreach (var evento in Model.Eventos)
                            {
                                <!-- Modal HTML embedded directly into document -->
                                <div id="@evento.Id" class="modal">
                                    <p>Nome Evento: @evento.NomeEvento</p>
                                    <p style="color:rgb(242, 135, 5)">Status Evento: @Model.StatusEnum[@evento.Status]</p>
                                    <p>Dia Evento: @evento.DiaEvento.ToShortDateString()</p>
                                    <p>Tipo Evento: @evento.TipoEvento</p>
                                    <p>Pacotes Selecionado: @evento.PacoteEvento</p>
                                    <p>Quantidade Convidados: @evento.NumeroPessoas</p>
                                    <p>Cliente_Nome: @evento.Cliente.Nome</p>
                                    <p>Email_Cliente: @evento.Cliente.Email</p>
                                    <p>Cliente_CPF: @evento.Cliente.Cpf</p>
                                    <p>Cliente_Telefone: @evento.Cliente.Celular</p>
                                    <p>Motivo: </p>
                                    <a href="#" rel="modal:close" style="float:right"></a>
                                </div>
                            }
                        </div>

                        <!-- REPROVADO -->
                        <div id="tab3show" class="tab">
                            <table id="recusado">
                                    <thead>
                                        <tr>
                                            <th rowspan="2">Nome</th>
                                            <th rowspan="2">Dia</th>
                                            <th rowspan="2">Tipo Evento</th>
                                            <th rowspan="2">Informações</th>
                                        </tr>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <td colspan="6">
                                                <p>Eventos atualizados em @DateTime.Now</p>
                                            </td>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var evento in Model.EventosReprovado)
                                            {
                                            <tr>
                                                <td>@evento.NomeEvento</td>
                                                <td>@evento.DiaEvento.ToShortDateString()</td>
                                                <td>@evento.TipoEvento</td>
                                                <!-- <td><a style="cursor:pointer"><em>Clique aqui</em></a></td> -->
                                                <td><a href="#@evento.Id" rel="modal:open" style="text-decoration:none;color:white"><em>Clique Aqui</em></a></td>
                                            </tr>
                                            }
                                    </tbody>
                            </table>

                            @foreach (var evento in Model.EventosReprovado)
                            {
                                <!-- Modal HTML embedded directly into document -->
                                <div id="@evento.Id" class="modal">
                                    <p>Nome Evento: @evento.NomeEvento</p>
                                    <p style="color:rgb(255,1,1)">Status Evento: @Model.StatusEnum[@evento.Status]</p>
                                    <p>Dia Evento: @evento.DiaEvento.ToShortDateString()</p>
                                    <p>Tipo Evento: @evento.TipoEvento</p>
                                    <p>Pacotes Selecionado: @evento.PacoteEvento</p>
                                    <p>Quantidade Convidados: @evento.NumeroPessoas</p>
                                    <p>Cliente_Nome: @evento.Cliente.Nome</p>
                                    <p>Email_Cliente: @evento.Cliente.Email</p>
                                    <p>Cliente_CPF: @evento.Cliente.Cpf</p>
                                    <p>Cliente_Telefone: @evento.Cliente.Celular</p>
                                    <p>Motivo: </p>
                                    <a href="#" rel="modal:close" style="float:right"></a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>