@model RoleTopMVC.ViewModels.EventoViewModel

<main>
    <div id="dashboard">
        <div id="opcaoUser">
            <a asp-controller="Administrador" asp-action="Eventos">Eventos</a>
            <a asp-controller="" asp-action="">BlackList</a>
            <a asp-controller="" asp-action="">Configurações</a>
            <a asp-controller="Login" asp-action="Logoff">Sair</a>
        </div>
        <div id="content">
            <section id="titulo">
                <h2>Eventos</h2>
            </section>
            <div id="osbutao">
                <div id="tab1" class="ta"><button class="butoes" id="aprovado" style="font-weight: bolder">Aprovados</button></div>
                <div id="tab2" class="ta"><button class="butoes" id="pendente" style="font-weight: bolder">Pendentes</button></div>
                <div id="tab3" class="ta"><button class="butoes" id="recusado" style="font-weight: bolder">Recusados</button></div>
            </div>

        <div id="testando">
            <div id="amostra">
                <!-- APROVADOS -->
                <div id="tab1show" class="tab">
                    <table id="aprovado">
                        <thead>
                            <tr>
                                <th rowspan="2">Nome</th>
                                <th rowspan="2">Dia</th>
                                <th rowspan="2">Tipo Evento</th>
                                <th colspan="2" rowspan="2">Aprovar</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <p>Pedidos atualizados em @DateTime.Now</p>
                                </td>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var evento in Model.Eventos)
                                {
                                <tr>
                                    <td>@evento.NomeEvento</td>
                                    <td>@evento.DiaEvento.ToShortDateString()</td>
                                    <td>@evento.TipoEvento</td>
                                    <td><a ><i class="fas fa-check"></i></a></td>
                                    <td><a ><i class="fas fa-times"></i></a></td>
                                </tr>
                                }
                        </tbody>
                    </table>
                </div>
                <!-- PENDENTES -->
                <div id="tab2show" class="tab">
                    <table id="pendente">
                        <thead>
                            <tr>
                                <th rowspan="2">Nome</th>
                                <th rowspan="2">Dia</th>
                                <th rowspan="2">Tipo Evento</th>
                                <th rowspan="2">Convidados</th>
                                <th colspan="2" rowspan="2">Aprovar</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <p>Pedidos atualizados em @DateTime.Now</p>
                                </td>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var evento in Model.Eventos)
                                {
                                <tr>
                                    <td>@evento.NomeEvento</td>
                                    <td>@evento.DiaEvento.ToShortDateString()</td>
                                    <td>@evento.TipoEvento</td>
                                    <td>@evento.NumeroPessoas</td>
                                    <td><a href='@Url.Action("Aprovar", "Administrador", new {id = @evento.Id})'><i class="fas fa-check"></i></a></td>
                                    <td><a href='@Url.Action("Recusar", "Administrador", new {id = @evento.Id})'><i class="fas fa-times"></i></a></td>
                                </tr>
                                }
                        </tbody>
                    </table>
                </div>
        
                <div id="tab3show" class="tab">
                    <table id="recusado">
                            <thead>
                                <tr>
                                    <th rowspan="2">Nome</th>
                                    <th rowspan="2">Dia</th>
                                    <th rowspan="2">Tipo Evento</th>
                                    <th colspan="2" rowspan="2">Aprovar</th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <td colspan="6">
                                        <p>Pedidos atualizados em @DateTime.Now</p>
                                    </td>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var evento in Model.Eventos)
                                    {
                                    <tr>
                                        <td>@evento.NomeEvento</td>
                                        <td>@evento.DiaEvento.ToShortDateString()</td>
                                        <td>@evento.TipoEvento</td>
                                        <td><a ><i class="fas fa-check"></i></a></td>
                                        <td><a ><i class="fas fa-times"></i></a></td>
                                    </tr>
                                    }
                            </tbody>
                    </table>
                </div>
            </div>

        </div>

        </div>
    </div>
</main>