@model RoleTopMVC.ViewModels.EventoViewModel

<main>
    <div id="dash">
        <div id="opcaoUser">
                <a asp-controller="Login" asp-action="MeusEventos">Meus Eventos</a>
                <a asp-controller="Login" asp-action="SolicitarEventos">Solicitar Eventos</a>
                <a asp-controller="Login" asp-action="Configuracoes">Configurações</a>
                <a asp-controller="Login" asp-action="Logoff">Sair</a>
        </div>
        <div id="content">
            <div id="formulario">
            <h2>Solicitar Evento</h2>
            <form method="POST" action='@Url.Action("RegistrarEvento","Login")'>
                <div class="form-test">
                    <label for="name">Nome do Rolê</label>
                    <input type="text"  name="nomeEvento">
                </div>
                <div class="form-test">
                    <label for="name">Nome</label>
                    <input type="text" value="@Model.Cliente.Nome" name="nome">
                </div>
                
                <div class="form-test">
                    <label for="email">Email</label>
                    <input type="text" value="@Model.Cliente.Email" required name="email">
                </div class="form-test">
            
                <div class="form-test">
                    <label for="celular">Celular</label>
                    <input type="text" value="@Model.Cliente.Celular" name="celular">
                </div>

                <div class="form-test">
                    <label for="diaEvento">Dia do Evento</label>
                    <input type="date" placeholder="" name="diaEvento">
                </div>

                <div class="form-test">
                    <label for="tipoEvento">Tipo de Evento</label>
                    <select id="evento" required name="tipoEvento">
                        <option value=""  disabled selected >Selecione</option>
                        @foreach (var evento in Model.Eventos)
                        {
                            <option value=@evento.TipoEvento>
                                @evento.TipoEvento
                            </option>
                        }
                    </select>
                </div>

                <div class="form-test">
                    <label for="pacoteEvento">Pacotes</label>
                    <select id="evento" required name="pacoteEvento">
                        <option value="" disabled selected>Selecione</option>
                        @foreach (var pacote in Model.Pacotes)
                        {
                            <option value=@pacote.PacoteEvento>
                                @pacote.PacoteEvento
                            </option>
                        }
                    </select>
                </div>

                <div class="form-test">
                    <label for="numeroConvidados">Número de Convidados</label>
                    <input type="text" placeholder="" name="numeroConvidados">
                </div>
                
                <div class="form-test">
                    <label >Sua Mensagem</label>
                    <textarea></textarea>
                </div>
                
                <div id="enviar">
                    <button type="submit">Enviar</button>
                </div>
            </form> 
        </div>
        </div>
    </div>
</main>